@using System.Web.Optimization
@using Yahoo.Yui.Compressor
@model IList<GosuArena.Entities.Bot>

@{
    ViewBag.Title = "Play match!";
}

@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Match/Play.less")" />
}

<div id="playing-field">
    <canvas id="gameCanvas" width="800" height="600"></canvas>

    <form class="options">
        <label for="showBotNames">Show bot names</label>
        <input id="showBotNames" type="checkbox" name="showBotNames" />

        <label for="showBotSights">Show bot sights</label>
        <input id="showBotSights" type="checkbox" name="showBotSights" />
    </form>

    <menu class="actions">
        <button id="restartMatch">Restart match</button>
        <button id="stopMatch">Stop match</button>
    </menu>
</div>

<ul id="botLegends"></ul>

@Scripts.Render("~/bundles/gosuarena")
@*<script type="text/javascript" src="@Url.Content("~/Scripts/gosu/math/math.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/gosu/math/point.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/gosu/math/vector.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/gosu/math/line.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/gosu/math/rectangle.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/gosu/snapshot.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/gosu/eventAggregator.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/rectangleCache.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/events.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/bot.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/bullet.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/botOptions.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/collisionDetector.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/actionQueue.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/userActionQueue.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/gameVisualizer.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/arenaState.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/gameClock.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/engine.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/settings.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Scripts/legend.js")"> </script>*@

@foreach (var bot in Model.Where(x => !string.IsNullOrWhiteSpace(x.Script)))
{
    <script type="text/javascript">
        // @bot.Name.ToUpper()
        // A few lines of code have been added to the bot definition, to make it
        // play nice with the framework. The code written by the user can be seen a few lines below
        gosuArena.initiateBotRegistration("@bot.Name", function() {
            // Redefine globals
            var window = {};
            var document = {};
            var alert = function() {
            };

            // User written code starts here:
            
            @{
                var isBotWrittenByCurrentUser = User.Identity.Name == bot.User.Username;
                var shouldRenderPlainScript = isBotWrittenByCurrentUser || bot.IsTrainer || bot.IsDemoBot;
                 
                var compressor = new JavaScriptCompressor();
                
                var scriptToRender = shouldRenderPlainScript ? bot.Script : compressor.Compress(bot.Script);
            }
            
            @Html.Raw(scriptToRender)
            
            // User written code ends here
        });
    </script>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Match/match.js")"> </script>