@model GosuArena.Entities.User

@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Content/User/Profile.less")" />
}

<h2>Profile for @Model.Username</h2>

<ul id="bots">
    @foreach (var bot in Model.Bots.OrderByDescending(x => x.CreatedDate))
    {
        <li class="well">
            
            
            <a href="@Url.Action("Edit", "Bot", new { id = bot.Id })">
                <span class="name">@bot.Name</span>
                <span class="created-date">Created @bot.CreatedDate.ToShortDateString()</span>
            </a>

            <div class="actions">
                <a href="@Url.Action("Edit", "Bot", new { id = bot.Id })" class="edit-bot">Edit</a>

                <form class="delete-bot" method="POST" action="@Url.Action("Delete", "Bot", new { id = bot.Id})">
                    <button type="submit" data-confirm="Do you really want to delete your bot?">Delete</button>
                </form>
            </div>

            
        </li>
    }
</ul>

<a class="btn btn-primary btn-lg pull-right" href="@Url.Action("Create", "Bot")">Create new bot</a>
