@using Gosu.Commons.Extensions
@using GosuArena.Extensions
@using GosuArena.Models.Controls

@model GosuArena.Entities.Bot

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/Bot/Edit.less")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/codemirror-3.20/lib/codemirror.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/codemirror-3.20/addon/lint/lint.css")" />
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Content/codemirror-3.20/lib/jshint.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/codemirror-3.20/lib/codemirror-compressed.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Bot/Edit.js")"></script>

}

@Html.ValidationSummary(true, "The bot could not be created")

<h1>@Model.Name</h1>

<form id="script-editor-form" method="POST" action="@Url.Action("Edit")" role="form" class="change-tracked col-md-9">
    
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Edit bot</legend>

        <input type="hidden" name="Id" value="@Model.Id" />

        <label for="Script">JavaScript for the bot</label>
        <textarea id="editor" name="Script" placeholder="JavaScript goes here...">@Model.Script</textarea>

        <button type="submit" class="main-submit clear-dirty-flags">Save</button>
    </fieldset>
</form>

<aside id="match-setup" class="col-md-3">
    @Html.MatchSetup(new MatchSetupModel
    {
        Title = "Play training match",
        Bots = ViewBag.TrainingBots,
        PreselectedBots = Model.AsList(),
        ShouldOpenNewTab = true,
        IsTraining = true
    })
</aside>